:root{
    --vp-height:100vh;
    --vp-width: 100vw;
}

@font-face{
    font-family: 'Victor-Mono';
    src:url(../Fonts/VictorMono-Bold.ttf)
}
@font-face {
    font-family: 'Inter-ExtraBold';
    src: url(../Fonts/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: 'Inconsolata';
    src: url(../Fonts/Inconsolata.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(../Fonts/Inter.ttf);
}
@font-face {
    font-family: 'Inconsolata-ExtraBold';
    src: url(../Fonts/Inconsolata-ExtraBold.ttf);
}
html{
    height: relative;
}

body{
    position: relative;
    min-height: var(--vp-height);
    margin: 0;
    display: flex;
    flex-direction: column;
}
.fondo{
    background: linear-gradient(180deg, #071924 9.90%, #00DCA1 100%);
}

.main{
    padding-bottom: 15vh;
}

.headbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.91vw 0 2.91vw;
    height: 8.33vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 2.34vh;
    background: linear-gradient(180deg, #071924 88.54%, #012723 100%);
    overflow: hidden;
}

.navbar{
    display: flex;
    flex-direction: row;
    column-gap: 3.5vh;
    justify-content: center;
    align-items: center;
    height: 4.12vh;
    background: #203441;
}

.presentation_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 33.33vh;
    margin-bottom: 3vh;
    background: #00041F;
}

.texto_headbar{
    color: white;
    text-shadow: #03B384 1px 0 15px;
    font-family: 'Inconsolata';
    font-size: 2.77vh;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
}
.texto_presentacion{
    color: white;
    font-family: 'Inter';
    font-size: 8.33vh;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 60px */
    letter-spacing: 1.03vw;
    opacity: 0.5;
}
.user_photo_cart{
    display:flex;
    flex-direction: row;
    column-gap: 1vw;
    align-items: center;
    justify-content: center;
}
.info_user{
    display: flex;
    flex-direction: column;
    font-size: 1.66vh;
    row-gap: 0.5vh;
    align-items: center;
    justify-content: center;
}

.profile_photo{
    width: 5vh;
    height:5vh;
    flex-shrink: 0;
    border-radius: 2.5vh;
    border: 0.25vh solid #01C38D;
    box-shadow: #03B384 0.1vh 0 1.5vh;
}

.shopping_cart_icon{
    height: 4vh;
    width: 4vh;
    flex-shrink: 0;
    filter:drop-shadow(0.1vh 0 0.5vh #03B384);
}
.texto_verde{
    color: #05AE81;
}

.fuente_Victor-Mono{
    font-family: 'Victor-Mono';
}

.texto_normal{
    color: white;
    font-family: 'Inter';
    font-size: 2.77vh;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
}

.center{
    text-align: center;
    place-content: center;
}

footer{
    position: absolute;
    bottom: 0;
    width:100%;
    height:9.72vh;   /* Height of the footer */
    background-color: #0D6E5A;
}

#footer{
    font-size: 2.77vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

a{
    text-decoration: none;
}